.container{
    float: right;
    padding-left: 80px !important;
    padding-right: 80px !important;
    margin: 0 !important;
    max-width: 100% !important;
    background-color: #ffffff !important;
}
.navbar{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}
.bg-body-tertiary{
    --bs-tertiary-bg-rgb: var(--bs-tertiary-bg-rgb)
}
#logo{
    margin-left: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Montserrat';
    text-transform: uppercase;
    margin-bottom: 0px !important;
    background-color: #ffffff;
}

li {
    float: left;
}

ul li a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    padding: 5px 0;
    display: inline-block;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
  
ul li a.active {
    color: #7C51CA;
}
ul li a:hover {
    color: rgba(63, 63, 63, 1);
    transition-duration: 0.5s;
}
ul li a.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Thicker underline */
    background-color: #7C51CA;
    position: absolute;
    bottom: 0px; /* Adjusts the underline position */
    left: 0;
}
@keyframes navbar {
    from {width: 0%;}
    to {width: 100%;}
  }
ul li a:hover:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px; /* Thicker underline */
    background-color: rgba(63, 63, 63, 1);
    position: absolute;
    bottom: 0px; /* Adjusts the underline position */
    left: 0;
    animation-name: navbar;
    animation-duration: 0.3s;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #f8f8f8; /* Optional background color */
    padding: 20px 40px !important;
}
.footer{
    background-color: #191919;
    color: #fff;
}
.footer2{
    padding: 10px 150px;
}
.ht{
    margin-bottom: 0px;
    padding-top: 70px;
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: 700;
}
.hb{
    font-size: 16px;
    font-family: 'Montserrat';
    max-width: 240px;
    color: #8c8c8c;
}
.cr{
    display: flex;
    justify-content: center;
    color: #8c8c8c;
    font-family: 'Montserrat';
    font-size: 13px;
    background-color: #191919;
    font-weight: 200;
}
.img{
    width: 1349px;
    padding: 25px 60px 15px 60px;
}
.txt{
    height: 300px;
    margin-top: 8px;
}
.txtupper{
    padding-left: 60px;
    float: left;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #333333;
}
.txtlower{
    float: right;
    max-width: 882px;
    padding-right: 60px;
    font-weight: 300;
    font-family: 'Montserrat';
    color: #333333;
}