/* general styling */
:root {
  --smaller: .75;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  background-image: url(/Assets/counter-background-01-01.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

body {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  font-family: 'Roboto', sans-serif;
}

.container {
  color: #333;
  margin: 0 auto;
  text-align: center;
}
#countdown{
  color: #333;
}
#days, #hours, #minutes, #seconds{
  color: #660099;
  padding-bottom: 24px;
}

h1 {
  font-weight: normal;
  letter-spacing: .250rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}

@media all and (max-width: 770px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
.button3 {
  background-color: white; 
  color: black; 
  border: 2px solid #660099;
  border-radius: 4px;
  padding: 15px 150px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
}

.button3:hover {
  background-color: #660099;
  color: white;
}
#headline{
  font-weight: 800;
}
